/* Main */
hr {
    border-width: 4px;
}

/* Header */
.header-title {
    text-align: right;
}

/* Logo */
.logo {
    margin: 5px;
}

/* Featured Work */
.featured-work-title {
    text-align: left;
}

.featured-work-img {
    margin: 0 auto;
}

@media screen and (max-width: 991px) {
    /* Header */
    .header-title {
        text-align: center;
    }

    /* Logo */
    .logo {
        margin: 5px auto;
    }

    /* Featured Work */
    .featured-work-title {
        text-align: center;
    }
}