/* Main */
body {
    color: #747704;
}

hr {
    border-width: 4px;
}

/* Header */
.header-titles {
    text-align: right;
    text-transform: uppercase;
}

/* Logo */
.logo {
    margin: 5px;
}

/* Featured Work */
.featured-work-title {
    text-align: left;
}

.featured-work-img {
    margin: 0 auto;
}

.ic {
    color: #333333;
}

/* Icon */
.ic:hover {
    text-decoration: none;
    color: #747704;
}

.ic:focus {
    text-decoration: none;
}

.ic:active {
    color: #747704;
}

@media screen and (max-width: 991px) {
    /* Featured Work */
    .featured-work-title {
        text-align: center;
    }
}

@media screen and (max-width: 767px) {
    /* Header */
    .header-titles {
        text-align: center;
    }

    /* Logo */
    .logo {
        margin: 5px auto;
    }

    /* Banner */
    .banner {
        display: none;
    }
}